Source: fcitx5-nord
Section: misc
Priority: optional
Maintainer: Deepin Input Method Team <chenshijie@uniontech.com>
Uploaders:
 Chen Shijie <chenshijie@uniontech.com>,
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/tonyfettes/fcitx5-nord
Vcs-Git: ssh://gerrit.uniontech.com:29418/input-method/fcitx5-nord.git
Vcs-Browser: https://gerrit.uniontech.com/plugins/gitiles/input-method/fcitx5-nord

Package: fcitx5-nord
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: Fcitx5 theme based on Nord color.
